.footer {
	width: 100%;
	min-height: $footer;
	flex: 0 0 auto;
	will-change: transform;
	position: relative;
}

.footer {
}
.section_in {
}
.footer_main {
}
.footer_top {
}
.footer_form_title {
}
.footer_form {
}
.footer_inputs_row {
}
.global_input {
}
.footer_input {
}
.btn {
}
.footer_policy {
}
.footer_contacts {
}
.footer_contacts_list {
}
.action_contactsItem_icon {
}
.icon {
}
.icon-phone {
}
.icon-envelope {
}
.icon-map {
}
.header_social {
}
.mod_social_footer {
}
.footer_bottom {
}
.footer_col_left {
}
.footer_copyright {
}
.footer_col_brand {
}