.hero {
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	margin-top: - $header;
	padding: 25.1rem 0 31.9rem 0;
	margin-bottom: $m10;
	* {
		color: $white;
	}
	&:before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: '';
		background: $big-grad;
	}
}
.section_in {
}
.hero_main {
	position: relative;
}
.hero_title {
	max-width: 76rem;
}
.hero_serviceList {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
	grid-gap: 4rem;
	max-width: 75rem;
	margin: 5rem 0 7rem 0
}
.hero_serviceItem {
	@include flex-start;
}
.hero_serviceItem_icon {
	width: 5.4rem;
	@include flex-center;
	margin-right: 1.5rem;
}
.hero_serviceItem_content {

	span {
		font-size: 1.8rem;
		font-family: $font_2;
	}
}
.btn {
}
.hero_btn {
}
.typeHome {
}

.section_title {
	margin-bottom: 4rem;
}
.section_head {
	@include flex-space;
	margin-bottom: 4rem;
	.section_title {
		margin-bottom: 0!important;
	}
}
.section_title {
}
.section_btn_more {
	a {
		border-bottom: .1rem dashed $dark;
		font-size: 1.8rem;
		font-family: $font_2;
		padding-bottom: 0.3rem;
	}
}
.typeHome_list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
	grid-gap: 3rem; 
	margin-bottom: $m15;

	li {
		position: relative;
		overflow: hidden;
		border-radius: 3rem;
		height: 42.9rem;
		padding: 6rem 6rem 5rem 6rem;
		* {
			color: $white;
		}
		&:before {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			content: '';
			background: $small-grad;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			top: 0;
			left: 0;
			@include z-index(el)
		}
	}
}
.card_cat {
}
.card_cat_head {
	@include flex-space;
	margin-bottom: 13.6rem;
	h3 {
		font-size: 3.5rem;
		margin-right: 7rem;
	}
}
.card_count {
	background-color: $white;
	color: $dark!important;
	padding: 1rem 2rem;
	border-radius: 5rem;
	font-size: 1.8rem;
	text-align: center;
	max-width: 15rem;
	&:after {
		content: 'проектов';
		padding-left: 0.3rem;
		font-size: inherit;
	}
}
.card_cat_bottom, .card_cat_head {
	position: relative;
}
.card_cat_price {
	margin-bottom: 3rem;
	p {
		font-family: $font_3;
		font-size: 2.5rem;
		&:after {
			content: ' ₽';
			font-size: inherit;
		}
		&:before {
			content: 'от';
			font-family: $font_3;
			font-size: 2rem;
			margin-right: 1rem;
		}
	}
}
.card_catBtn {
}
.trans_mod {
}
.popular {
}
.popular_main {
	margin-bottom: $m15;
}
.popular_list {
}
.global_products {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
	grid-gap: 6rem 3rem;
}
.productCard {
}
.productsCard_img {
	border-radius: 2rem;
	overflow: hidden;
	width: 100%;
	height: 27rem;
	img {
		height: 100%;
		object-fit: cover;
	}
}
.productsCard_content {
	padding: 1.5rem 0 2rem 0;

	h3 {
		font-size: 2.2rem;
		font-family: $font_2;
		margin-bottom: 2rem;
	}
}
.productsCard_params {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
	grid-gap: 1.5rem 5rem;
	padding-bottom: 2rem;
	border-bottom: .1rem solid rgba(70, 172, 204, 0.2);
	* {
		font-size: 1.8rem;
	}
	li {
		@include flex-start;
		p {
			margin-right: 0.5rem;
		}
		span {
			font-family: $font_2;
		}
	}
}
.productsCard_bottom {
	@include flex-start;
}
.productsCard_link {
	margin-right: 2.5rem;
	button {
		font-size: 1.8rem;
		padding: 1.8rem 4.3rem;
	}
}
.productsCard_price {
	p {
		font-size: 2.5rem;
		font-family: $font_4;
		color: $green;
		&:before {
			content: 'от ';
		}
		&:after {
			content: ' ₽';
		}
	}
}
.action {
	position: relative;
	background: url('../../i/action.jpg') center/cover no-repeat;
	margin-bottom: $m15;
	&:before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: '';
		background: linear-gradient(0deg, rgba(20, 20, 20, 0.6), rgba(20, 20, 20, 0.6)), linear-gradient(84.86deg, rgba(20, 20, 20, 0.5) 0.04%, rgba(20, 20, 20, 0) 98.13%);
	}

	* {
		color: $white;
	}
}
.action_main {
	padding: $m10 0 14.1rem 0;
	position: relative;
	z-index: 2;
	@include flex-start;
}
.action_content {
	max-width: 58rem;
	margin-right: 25rem;
}
.action_title {
	margin-bottom: 5.9rem;
}
.action_contacts {

	li {
		a {
			@include flex-start;
			display: inline-flex;
		}
		&:not(:last-child) {
			font-family: $font_3;
			margin-bottom: 1.5rem;
		}
	}
}
.action_contactsItem_icon {
	margin-right: 1.5rem;
	width: 1.7rem;
	@include flex-center;
}
.icon {
}
.icon-phone {
}
.icon-envelope {
}
.action_form {
	width: 100%;
	max-width: 58rem
}
.global_input {
}
.action_input {
}
.action_form_bottom {
	@include flex-start;
	.btn {
		margin-right: 2rem;
		button {
			font-size: 1.8rem;
			padding: 2rem 5.3rem;
		}
	}
}
.action_policy {
	font-size: 1.6rem;
	max-width: 29.5rem;
	a {
		border-bottom: .1rem solid $white;
	}
}
.about {
	position: relative;
}
.about_main {
	@include flex-start;
}
.about_content {
	max-width: 60.5rem;
}
.about_title {
	margin-bottom: 2rem;
}
.about_content_txt {
}
.global_txt {
}
.about_slider_w {
	max-width: 100%;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	max-width: 94.5rem;
}
.about_slider {
	height: 39.3rem;
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.about_slide {
	width: 100%;
	border-radius: 3rem;
	overflow: hidden;
	img {
		height: 100%;
		object-fit: cover;
	}
}
.about_bottomNav {
}
.aboutSlider_nav {
	@include flex-start;

	div {
		width: 4.5rem;
		height: 4.5rem;
		@include flex-center;
		background-color: $green;
	}
}
.about_slider_next {
}
.next {
}
.icon-next {
}
.about_slider_prev {
}
.prev {
}
.icon-prev {
}
.aboutSlider_scrollbar {
}
.homenews {
}
.popularNews_grid {
}
.cardNews_date {
}
.cardNews_icon {
}
.icon-date {
}
.productsCard_txt {
}