// variables,mixins,extends
@import "helpers/helpers_all";
@import "family";

// base
@import "reset";
@import "fonts";
@import "base";
@import "main";

// templates
@import "templates/header";
@import "templates/footer";
@import "templates/popup";
@import "templates/succes";
@import "templates/failed";
@import "templates/btn";


// icons
@import "icons";
@import "sprite";

// Page

@import "page/home";
@import "page/category";
@import "page/error";
@import "page/contact";
@import "page/news";
@import "page/reviews";
@import "page/shop";
@import "page/single-news";
@import "page/single-products";
@import "page/policy";

// plugins
@import "plugins/swiper";
// @import "plugins/fancybox";
// @import "plugins/simplebar";
