img {
	width: 100%;
	height: auto;
	object-fit: contain;
	display: block;
}

h1 {
	font-size: 4.5rem;
	font-family: $font_4;
	color: $dark;
	@include bp($point_2) {
		font-size: 3.5rem;
	}
	@include bp($point_5) {
		font-size: 3rem;
	}
}
// End
h2, h3, h4, h5, h6 {
	font-size: 4rem;
	font-family: $font_4;
	color: $dark;
	@include bp($point_2) {
		font-size: 2.6rem;
	}
}

.global_txt {

	h2, h3, h4, h5, h6 {
		&:not(:last-child) {
			margin-bottom: 2rem;
			font-size: 4rem;
			@include bp($point_2) {
				font-size: 2.6rem;
			}
		}
	}
	p, ul, ol, span {
		@include bp($point_2) {
			font-size: 1.6rem;
		}
		&:not(:last-child) {
			margin-bottom: 2rem;
		}
	}
	li {
		@include bp($point_2) {
			font-size: 1.4rem;
		}
		&:not(:last-child) {
			margin-bottom: 2rem;
		}
		padding-left: 2rem;
		position: relative;
		&:before {
			position: absolute;
			left: 0;
			content: '-';
		}
	}
}

.btn {
	display: inline-flex;
	overflow: hidden;
	position: relative;
	button, a, input[type="submit"] {
		padding: 2.2rem 7rem;
		color: $white;
		font-family: $font_2;
		background: $gradient;
		border-radius: inherit;
		line-height: 2.4rem;
		@include bp($point_2) {
			padding: 2rem 4rem;
			font-size: 1.6rem;
		}
		@include bp($point_5) {
			padding: 1.7rem 3rem;
		}
	}
	border-radius: 5rem;
	box-shadow: $shadow;
	overflow: hidden;

	&.trans_mod {
		button, input[type="submit"] {
			background: $trans;
			border: .1rem solid rgba(255, 255, 255, 0.308);
			padding: 2.2rem 5rem;
			line-height: 2.4rem;
			@include bp($point_2) {
				padding: 2rem 4rem;
				font-size: 1.6rem;
			}
			@include bp($point_5) {
				padding: 1.7rem 3rem;
			}
		}
		box-shadow: none;
	}
}

.global_input  {
	margin-bottom: 2rem;
	@include bp($point_5) {
		margin-bottom: 1rem;
	}
	input {
		width: 100%;
		@include app;
		font-size: 1.8rem;
		font-family: $font_2;
		color: $dark;
		background-color: $white;
		padding: 2rem 3rem;
		border-radius: 5rem;
		@include bp($point_5) {
			padding: 1.5rem 2rem;
			font-size: 1.6rem;
		}
	}
}



.breadcrumb__list {
	margin: 2rem 0 3rem 0;
	@include flex-start;
	flex-wrap: wrap;
	font-size: 1.8rem;
	@include bp($point_2) {
		font-size: 1.6rem;
	}
	@include bp($point_5) {
		font-size: 1.4rem;
		margin: 1.5rem 0 2rem 0;
	}
	li {
		&:not(:last-child) {
			opacity: .5;
			transition: all .3s ease;
			&:hover {
				opacity: 1;
			}
			&:after {
				content: '/';
				margin: 0 1rem;
				@include bp($point_5) {
					margin: 0 .5rem;
				}
			}
		}
	}
}


.breadcrumb {
	margin-bottom: 4rem;
}

.btn_listsMore  {
	@include flex-center;
	a {
		max-width: 22rem;
		@include flex-center;
		display: inline-flex;
		font-size: 1.8rem;
		font-family: $font_2;
	}
}

.shop_btnMore_icon {
	margin-right: 1.5rem;
	width: 4.5rem;
	height: 4.5rem;
	@include flex-center;
	background-color: $green;
	border-radius: 100%;
	color: $white;
}


.loader {
	@include popup;
	background-color: $white;
	transition: all .2s ease;

	&.is-hidden {
		opacity: 0;
		visibility: hidden;
	}
}
