extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Контакты - Wood Island', mode: 'dark'}
block content_block
	section.error
		.section_in 
			.error_main 
				h1 404
				p Такой страницы не существует
				+btn-link({
					class: 'btn_back',
				})