include templates/_global_vars
include templates/_global_mixins
include templates/_project_mixins


- array = '';
block vars
doctype
html(lang="en")
	include interface/loader
	head
		+head(array)
	body(class= array.body_class)
		+header_mix({theme: array.mode})
		.wrapper(class= array.layout_mod)
			.base(class= array.layout_mod)
				block content_block
			include interface/footer
		+scripts
		block local_popup
			include interface/popup
			include interface/succes
			include interface/failed
