extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Каталог домов - Wood Island', mode: 'dark'}
block content_block
	+breadcrumb(['Главная'], 'Каталог домов')
	section.homeCat 
		.section_in 
			.homeCat_main 
				ul.typeHome_list.category_mod
					-for(i = 0; i < 3; i++)
						- var titleCard = ['Каркасные дома', 'Дома из бруса', 'Барнхаусы']
							li 
								+card({
									names: titleCard[i],
									img: `cat_${i}`
								})